body
{
	text-align: center;
}

body > div
{
	margin-top: 1.6em;
}

body > div:first-child
{
	margin: .4em;
	font-size: 2em;
	font-weight: bold;
}

body > div:nth-child(3)
{
	margin-top: .8em;
}

body > div > div
{
	display: inline-block;
	margin-right: 1em;
}

body div#feedback
{
	margin: 0;
	font-style: italic;
	color: red;
}

body div.indicator
{
	font-weight: bold;
}

body div.button
{
	border: 2px solid black;
	padding: 2px;
	cursor: pointer;
}

body div.play
{
	display: inline-block;
	border: 1px solid black;
	width: 12em;
	height: 12em;
	margin-right: 2em;
}

body input
{
	width: 4em;
	margin-right: 1em;
}