body
{
	text-align: center;
	font-family: "Segoe UI";
	font-size: 16px;
	color: gray;
}

body > div
{
	margin-top: 1.6em;
}

body > div:first-child
{
	margin: .4em;
	font-size: 2em;
	font-weight: bold;
}

body > div:nth-child(3)
{
	margin-top: .8em;
}

body > div > div, body > div > div > div
{
	display: inline-block;
	margin-right: 1em;
}

body div#feedback
{
	margin: 0;
	font-style: italic;
	color: red;
}

body div.indicator
{
	display: block;
	text-align: left;
	font-weight: bold;
	margin-bottom: .8em;
}

body div.button
{
	border: 2px solid silver;
	border-radius: 8px;
	padding: 4px;
	background: silver;
	color: white;
	width: 4em;
	cursor: pointer;
}

body div.button:hover
{
	border: 2px solid gray;
	background: gray;
}

body div#player, body div#opponent
{
	display: inline-block;
	border: 2px solid silver;
	border-radius: 8px;
	width: 12em;
	height: 12em;
	margin-right: 1em;
	vertical-align: text-top;
}

body div#player img, body div#opponent img
{
	width: 80%;
	height: 80%;
}

body div#opponent img
{
	transform: rotateY(180deg);
}

body input
{
	width: 4em;
	margin-right: 1em;
	border: 2px solid silver;
	border-radius: 8px;
	text-align: center;
}